<div class="tech-btm">
    <h4>Sign up to our newsletter</h4>
    <p>For get our blogs..</p>
    <form  action="/NewsLetter/SubscribeMail/" method="post">
        <input type="email" placeholder="Email" required="" name="MailContext">
        <input type="submit" value="Subscribe">
    </form>

</div>